@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

html {
	overflow-x: hidden;

	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 13px;

	--bgcRAW: 47, 47, 56;
	--bgc: rgb(var(--bgcRAW));
	--bgc99: rgba(var(--bgcRAW), 0.62);

	--fgc: #04d9ff;

	background-color: var(--bgc);
	color: var(--fgc);
}

html, body {
	width: 100%;
	min-width: 540px;
	height: 100%;
	border: 0;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	display: grid;
	grid-template-rows: 2fr min-content 5fr min-content min-content;
	justify-items: center;
	height: 100%;
	gap: 10px;
}

#title {
	font-size: 64px;
	font-weight: 100;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-variant: small-caps;
	align-self: end;
}

#links {
	display: flex;
	gap: 10px;
}

#links > a > img {
	border-radius: 5px;
	overflow: hidden;
}

#projectScroller {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	height: min-content;
	align-self: center;
}

#projectScroller::before, #projectScroller::after {
	content: "";
	position: absolute;
	top: 0;
	width: calc(50% - 205px);
	height: 100%;
	z-index: 1;
}

#projectScroller::before {
	left: 0;
	background: linear-gradient(to right, var(--bgc) 0%, var(--bgc) calc(100% - 400px), var(--bgc99) 100%);
}

#projectScroller::after {
	right: 0;
	background: linear-gradient(to left, var(--bgc) 0%, var(--bgc) calc(100% - 400px), var(--bgc99) 100%);
}

.projectButton {
	height: 100%;
	width: 50px;
	cursor: pointer;
	z-index: 2;
	-webkit-user-select: none;
	user-select: none;
	font-size: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(1.5, 1);
}

#projectWrapper {
	--single-width: 400px;
	display: flex;
	width: var(--single-width);
	transition: all 0.2s ease-in-out;
	gap: 10px;
}

#projectWrapper * {
	transition: all 0.2s ease-in-out;
}

#projectWrapper img {
	box-sizing: border-box;
	border-radius: 5px;
	overflow: hidden;
	max-width: var(--single-width);
}

.footer {
	margin-top: auto;
}

#privacy {
	color: var(--fgc);
}